@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img {
    pointer-events: auto; /* Bosish ishlasin */
    -webkit-touch-callout: none; /* iPhone / iPad'da menyuni bloklash */
    -webkit-user-select: none; /* iOS va Android’da nusxa olishni bloklash */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none; /* Uzoq bosishda hech narsa chiqmasin */
  }
  